html,
body,
.app {
  height: 100vh;
  background-color: #eee;
  padding: 1em;
}

/* messages */
.messages{
  height: 70vh;
  overflow-y: scroll;
  min-width: 100%;
}

.messages__progress{
  height: 66vh !important;
}

.message__form{
  position: fixed !important;
  bottom: 1em;
  left: 0;
  right: 1em;
  z-index: 200;
  margin-left: 320px !important;
}

.message__self{
  border-left: 2px solid orange;
  padding-left: 8px;
}

.message__image{
  padding: 1em;
}

/* Progress Bar */
.progress__bar{
  margin: 0.3em 0 0 0 !important;
}

/* Menu */
.menu {
  padding-bottom: 2em;
}

/* Color Panel */
.color__container {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 35px;
  border-radius: 3px;
}

.color__square {
  width: 35px;
  height: 35px;
}

.color__overlay {
  width: 85px;
  height: 35px;
  transform: rotate(225deg);
}